<h2>Add Open-Source License</h2>

<%= form_for @license do |f| %>
    <p>
        <%= f.text_field :name, :placeholder => "e.g. The BSD 3-Clause License" %>
    </p>
    <p>
        <%= f.url_field :url, :placeholder => 'e.g. http://opensource.org/...' %>
    </p>
    <p>
        <%= radio_button_tag :tweetable, true, true %>
        <%= label_tag :tweetable_true, 'You can tweet at me!' %>
        <%= radio_button_tag :tweetable, false, false %>
        <%= label_tag :tweetable_false, "Please don't tweet at me" %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>