<div class="row">
    <div class="large-12 column">
        <h3 style="text-align: center"><%= link_to 'tell droid.li about a new library', new_project_path %></h3>
    </div>
    <hr />
</div>

<div class="row">
    <div class="large-12 column">
        <div class="row">
            <div class="large-4 column">
                <p class="center">library</p>
            </div>
            <div class="large-4 column">
                <p class="center">tags</p>
            </div>
            <div class="large-4 column">
                <p class="center">added by</p>
            </div>
        </div>
    </div>
</div>
<% @projects.each do |p| %>
    <div class="row <%= cycle('even', 'odd') %>">
        <div class="large-12 column">
            <div class="row">
                <div class="large-4 column">
                    <% if p.url.present? %>
                        <h4><%= link_to p.name, p.url %></h4>
                    <% else %>
                        <h4><%= p.name %></h4>
                    <% end %>
                </div>
                <div class="large-4 column">
                    <p class="center"><%= p.tags.map { |t| t.name }.to_sentence %></p>
                </div>
                <div class="large-4 columns">
                    <p class="center"><%= p.project_contributions.map { |c| link_to("@#{c.user.name}", "https://twitter.com/#{c.user.name}") }.to_sentence %></p>
                </div>
            </div>
        </div>
    </div>
<% end %>
